beautifulsoup4
brotlipy==0.7.0
certifi==2020.12.5
cffi
chardet
cryptography
cssselect==1.1.0
feedfinder2==0.0.4
feedparser
furl==2.1.0
idna
jieba3k
lxml
newspaper3k
nltk==3.4.4
numpy
olefile
orderedmultidict==1.0.1
pandas
Pillow
pycparser
pyOpenSSL
PySocks
python-dateutil==2.8.1
pytz
PyYAML==5.4.1
requests
requests-file
sgmllib3k
six
soupsieve
tldextract==2.2.0
urllib3
win-inet-pton
wincertstore==0.2
